{% extends 'base.html'%}
{% block titulo %} Editar Perfil {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
{% endblock %}

{% block conteudo %}

<img class="imagem" src="{{ url_for('static', filename='aesthetic.png') }}">
<div class="container">
  <form method="POST" class="info">
      <h1>✏️ Editar Perfil</h1>
      <label>
        <strong>Nome de usuário:</strong>
        <input type="text" name="nome" value="{{ usuario.nome }}" required>
      </label>
      <label>
        <strong>E-mail:</strong>
        <input type="email" name="email" value="{{ usuario.email }}" required>
      </label>
      <label>
        <strong>Preferências:</strong>
        <input type="text" name="preferencias" value="{{ usuario.preferencias }}">
      </label>
      <div style="display: flex; gap: 10px; margin-top: 10px;">
        <button type="submit">Salvar</button>
        <a href="{{ url_for('perfil') }}">
          <button type="button" style="background-color: #777;">Cancelar</button>
        </a>
      </div>
  </form>
</div>

{% endblock %}
